#banner{
    height: 90vh;
    background: url(th.jpg);
    background-size: cover;
    background-repeat: no repeat;
    background-attachment: fixed;
}

.btn{
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 900;
    transition: all .4s ease;
}

.btn-brand{
    background-color: black;
    color: #fff;
}

.btn-brand:hover{
    background-color: rgb(183, 43, 226);
    border: 3px solid black;
    color: black; 
}

section{
    padding: 100px 0px;
}

#about h2{
    font-size: 55px;
    font-weight: 900;
    color: aqua;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(7,2,2);
}

#services{
    background-color: aqua;
    
}

#services h3{
    font-size: 55px;
    font-weight: 900;
    color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(7, 2, 2);
}
.ok{
    width:40%;
}


#services .btn-brand:hover{
    color: bisque(255,255,255) !important ;
    border-color: bisque(255,255,255) !important;   
}

.card{transition: background color 0.3s, color 0.3s;
border: 5px solid var(--border); /* Border style */
box-shadow: 0 0 10px currentColor(0, 0, 0, 0.2);
border-radius: 30px;
}




.card:hover { 
    background-color: rgb(226, 43, 150);
}

.card:hover .card-title,
.card:hover .card-text,
.card:hover .btn {
    color: #fff;
}



#services h2 {
    font-size: 55px;
    font-weight: 900;
    color: rgb(139, 0, 81);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;

}
